
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 500;
}


:root {
  --red: #d01c28;
  --gray: #4f4f4f;
}


body {
  font-family: "Poppins", sans-serif;
 
}


.btn{
  font-size: 1.2rem;
  width: max-content;
  padding: 0.5rem 1.3rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
 

}

.btn__red{
  color: white;
  background: var(--red);
  transition: all 0.4s ease-in;
}
.btn__red:hover{
  color: var(--red);
  border: 1px solid var(--red);
  background: transparent;
}
.btn__gray{
  color:black;
  background: white;
  transition: all 0.4s ease-in;
  border: 1px solid var(--gray);
}
.btn__gray:hover{
  color: var(--red);
  border: 1px solid var(--gray);
  background: transparent;
}

.main__container{
  text-align: center;
  width: 100%;
  min-height: 100vh;
  padding: 3rem 4rem;
}

input{
  padding: 1rem 1.5rem;
  font-size: 2rem;
}

.main__container .list__container li{
  list-style-type: none;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1.2rem;
  color: #4f4f4f;
  font-weight: 100;
}

.lists{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.cards__container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 3rem;
  background-color: black;
  margin-top: 3rem;
}

.card{
  padding: 2rem;
  background: rgb(191, 187, 187);
}

img{
  object-fit: cover;
  width: 100%;
  display: block;
  border-radius: 0.4rem;
}

.card h3{
  margin-top: 1rem;
  font-weight: 600;
  font-family: sans-serif;
}
.card .card__info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

.card .card__info > h5 , span{
  font-size: 1.3rem;
  font-weight: 500;

}

@media screen and(max-width:1024px) {
 .cards__container{
  background-color: red;
 }
}